/Packages/ export-ignore
/Resources/Private/ExtensionArtifacts/src/ export-ignore
/Resources/Private/ExtensionArtifacts/ext_localconf.php export-ignore
/Tests/ export-ignore
/.gitattributes export-ignore
/.github/ export-ignore
/.gitignore export-ignore
/.php_cs.dist export-ignore
/.styleci.yml export-ignore
/phpunit.xml.dist export-ignore
/appveyor.yml export-ignore
