/.Build/*
/Classes/Console/Hook/*
/Configuration/ComposerPackagesCommands.php
/Documentation-GENERATED-temp
/Libraries/vendor
/Resources/Public/*

/.php_cs.cache
/.phpunit.result.cache
/composer.lock
/ext_*
*GENERATED*
