/config
/public
/var
/vendor
/Classes/Console/Hook/*
/Configuration/ComposerPackagesCommands.php
/Documentation-GENERATED-temp
/Resources/Private/ExtensionArtifacts/Libraries
/Resources/Public/*

/.php-cs-fixer.cache
/.phpunit.result.cache
/composer.lock
/ext_*
*GENERATED*
