/Packages/ export-ignore
/Resources/Private/ExtensionArtifacts/ export-ignore
/Resources/Private/Patches/ export-ignore
/Tests/ export-ignore
/.ddev export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.github/ export-ignore
/.gitignore export-ignore
/.php-cs-fixer.php export-ignore
/.styleci.yml export-ignore
/phpunit.xml.dist export-ignore
/render-documentation.yml export-ignore
/sonar-project.properties export-ignore
/Makefile export-ignore

# Enforce checkout with linux lf consistent over all plattforms
*.cfg text eol=lf
*.dist text eol=lf
*.json text eol=lf
*.md text eol=lf
*.php text eol=lf
*.properties text eol=lf
*.rst text eol=lf
*.sql text eol=lf
*.tpl text eol=lf
*.txt text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
