<phpunit
    backupGlobals="true"
    backupStaticAttributes="false"
    bootstrap=".Build/vendor/nimut/testing-framework/res/Configuration/UnitTestsBootstrap.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertWarningsToExceptions="true"
    forceCoversAnnotation="false"
    processIsolation="false"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    verbose="true"
>
    <php>
        <env name="TYPO3_CONSOLE_TEST_RUN" value="1" />
        <env name="TYPO3_INSTALL_DB_USER" value="root" />
        <env name="TYPO3_INSTALL_DB_HOST" value="127.0.0.1" />
        <env name="TYPO3_INSTALL_DB_PASSWORD" value="" />
        <env name="TYPO3_INSTALL_DB_DBNAME" value="travis_console_test" />
        <env name="TYPO3_INSTALL_ADMIN_USER" value="admin" />
        <env name="TYPO3_INSTALL_ADMIN_PASSWORD" value="password" />
        <env name="TYPO3_INSTALL_SITE_NAME" value="Travis Install" />
        <env name="TYPO3_INSTALL_WEB_SERVER_SETUP_TYPE" value="none" />
        <env name="TYPO3_INSTALL_SITE_SETUP_TYPE" value="site" />
    </php>
    <testsuites>
        <testsuite name="TYPO3 Console Unit Tests">
            <directory>./Tests/Console/Unit/*/</directory>
        </testsuite>
        <testsuite name="TYPO3 Console Install Command Tests">
            <directory>./Tests/Console/Functional/Command/Install/</directory>
        </testsuite>
        <testsuite name="TYPO3 Console all Command Tests">
            <directory>./Tests/Console/Functional/*/</directory>
            <exclude>./Tests/Console/Functional/Command/Install/</exclude>
        </testsuite>
    </testsuites>
</phpunit>
